<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Recipe name</key>
		<string>Brownies</string>
		<key>Time to prep</key>
		<string></string>
		<key>Time to cook</key>
		<string></string>
		<key>Difficulty</key>
		<string></string>
		<key>Serves</key>
		<string></string>
		<key>Rating</key>
		<string></string>
		<key>Ingredients</key>
		<array>
			<dict>
				<key>Ingredient</key>
				<string></string>
			</dict>
		</array>
		<key>Method</key>
		<array>
			<dict>
				<key>Step</key>
				<string></string>
			</dict>
		</array>
        <key>Catergory</key> <string>Baked goods</string>
	</dict>
	<dict>
		<key>Recipe name</key>
		<string>Tuna Sandwiches</string>
		<key>Time to prep</key>
		<string></string>
		<key>Time to cook</key>
		<string></string>
		<key>Difficulty</key>
		<string></string>
		<key>Serves</key>
		<string></string>
		<key>Rating</key>
		<string></string>
		<key>Ingredients</key>
		<array>
			<dict>
				<key>Ingredient</key>
				<string></string>
			</dict>
		</array>
		<key>Method</key>
		<string></string>
        <key>Catergory</key> <string>Lunchables</string>
	</dict>
	<dict>
		<key>Recipe name</key>
		<string>Cheesecake Surprise</string>
		<key>Time to prep</key>
		<string></string>
		<key>Time to cook</key>
		<string></string>
		<key>Difficulty</key>
		<string></string>
		<key>Serves</key>
		<string></string>
		<key>Rating</key>
		<string></string>
		<key>Ingredients</key>
		<array>
			<dict>
				<key>Ingredient</key>
				<string></string>
			</dict>
		</array>
		<key>Method</key>
		<array>
			<dict>
				<key>Step</key>
				<string></string>
			</dict>
		</array>        
        <key>Catergory</key> <string>Crafty cakes</string>
	</dict>
</array>
</plist>
